@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');
body {
  font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
}

.container {
  display: grid;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  grid-template-columns: 300px 300px;
  grid-template-rows: auto;
  height: 400px;
  border: solid #e7e7ff;
  border-radius: 10px;
}

.summary {
  border-radius: 15px;
  padding: 10px 30px 0 30px;
  font: bolder;
}
.summary h2 {
  text-align: start;
}

.summary.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 7fr;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 50px;
  overflow: hidden;
}
.r1 {
  float: inline-start;
  margin-top: 6px;
  margin-left: 10px;
}
.r2 {
  float: inline-end;
  margin-top: 6px;
  color: black;
}
.r1 img {
  float: inline-start;
  margin-right: 5px;
}
/*---estilo do REACTION ------ */
.reaction {
  grid-row: 1 / 2;
  border: solid;
  border-color: #ffd2d2;
  width: 215px;
  height: 30px;
  border-radius: 5px;
  color: hsl(0, 100%, 67%);
  background-color: #ffd2d2;
}
.reaction:hover {
  cursor: pointer;
}

/*---estilo do MEMORY------ */

.memory {
  grid-row: 3 / 4;
  border: solid;
  border-color: #eee8d5;
  width: 215px;
  height: 30px;
  border-radius: 10px;
  color: hsl(39, 100%, 56%);
  background-color: #eee8d5;
}
.memory:hover {
  cursor: pointer;
}
/*---estilo do VERBAL ------ */

.verbal {
  grid-row: 4 / 5;
  border: solid;
  border-color: #cafff2;
  width: 215px;
  height: 30px;
  border-radius: 10px;
  color: hsl(166, 100%, 37%);
  background-color: #cafff2;
}
.verbal:hover {
  cursor: pointer;
}
/*---estilo do VISUAL ------ */

.visual {
  grid-row: 5 / 6;
  border: solid;
  border-color: #c7d3ff;
  width: 215px;
  height: 30px;
  border-radius: 10px;
  color: hsl(234, 85%, 45%);
  background-color: #c7d3ff;
}
.visual:hover {
  cursor: pointer;
}
.continue {
  background-color: #1e00a5;
  color: aliceblue;
  width: 225px;
  height: 40px;
  border-radius: 10px;
  margin-top: 10px;
  justify-content: space-evenly;
  align-items: center;
}

.continue:hover {
  cursor: pointer;
  background-color: #2500cb;
}

/*----------rodape--------------------*/

.attribution {
  font-size: 11px;
  text-align: center;
  display: block;
  width: 600px;
  margin-top: 5px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/*----------configurações do Resultado-------*/

.yresult {
  background: radial-gradient(hsl(252, 84%, 53%), hsl(241, 90%, 47%));
  color: aliceblue;
  border-radius: 15px;
  border: solid;
  height: 400px;
  display: inline-block;
}
.container h1 {
  font-size: 18pt;
}

.yresult h2 {
  color: #8a86f3;
  font-size: 12pt;
  padding: 20px 0 10px 0;
}

.circle {
  width: 150px;
  height: 150px;
  margin-left: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: radial-gradient(rgb(1, 36, 175), hsl(241, 100%, 28%));
  border-radius: 50%;
  justify-content: center;
}
.result {
  width: 150px;
  font: bolder;
  font-size: 40pt;
}

.resultof {
  float: inherit;
  color: #726ef5;
}

.great {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0 20px 0 20px;
  color: #8a86f3;
  font-size: 11pt;
  padding-bottom: 10px;
}
.great p {
  font-size: 18px;
  line-height: 1.3;
}

.container h1 {
  margin: 20px 0 0 0;
}

/*-------media-----------*/
@media (max-width: 500px) {
  .container {
    display: grid;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    grid-template-columns: 350px;
    height: 700px;
    grid-template-rows: auto;
  }

  .yresult {
    height: 250px;
    padding: 1px;
    margin: 5px;
    align-items: center;
    text-align: center;
  }

  .yresult h2 {
    color: #8a86f3;
    font-size: 12pt;
    padding: 0;
    margin-top: 5px;
  }

  .circle {
    width: 100px;
    height: 110px;
    margin-left: 34.5%;
    margin-right: 33.56%;
  }
  .result {
    width: 100px;
    font-size: 30pt;
  }
  .container h1 {
    font-size: 15pt;
    margin: 5px 0 0 0;
  }

  .great {
    margin: 0 10px 5px 10px;
  }

  .summary {
    height: 450px;
    padding: 0 0 0 8%;
    margin: 5px;
  }
  .summary h2 {
    margin: 5% 0 10% 0;
  }
 

  .reaction {
    width: 250px;
  }

  .memory {
    width: 250px;
  }

  .verbal {
    width: 250px;
  }

  .visual {
    width: 250px;
  }
  .continue {
    width: 250px;
    margin: 5% 16% 0 0;
    padding: 0;

  }

  .attribution {
    margin-top: 5px;
    width: 300px;
  }
}
